version: '3.7'

services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "5300:5300"
    depends_on:
      - db
    hostname: app

  db:
    image: "postgres:alpine"
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mydb
      POSTGRES_DB: car_service
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d car_service" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ${PWD}/data/db:/var/lib/postgresql/data
    hostname: db

  message-broker:
    image: rabbitmq:3-management-alpine
    container_name: message-broker
    ports:
      - "5672:5672"   # for sender and consumer connections
      - "15672:15672" # for serve RabbitMQ GUI
    volumes:
      - ${PWD}/data/dev-rabbitmq/data/:/var/lib/rabbitmq
      - ${PWD}/data/dev-rabbitmq/log/:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: 1234
    restart: always
    hostname: message.brocker

  web:
    build:
      dockerfile: ../AuthCarService/Dockerfile
      context: ../AuthCarService/
    ports:
      - "8081:8081"
